.form_container {    
    width: 750px;
    height: 500px;
}

.form_title {    
    width: 600px;
    height: 50px;
    padding: 5px;
}

.form_main {    
    width: 350px;
    height: 450px;
    padding: 5px;    
}

.button {
    padding: 30px;
}